.mainContainer {
	width: 60vw;
	height: 60vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: khaki;
}

.game {
	display: none;
}

.play {
	width: 30vw;
	height: 10vh;
	background: red;
}
